@media (min-width: 1024px) {
  #main_nav {
    display: block;
    left: 80px;
    position: absolute;
    top: 0;
    width: calc(100% - 160px);
    z-index: 4; }
    #main_nav ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      #main_nav ul .nav_item {
        color: #000;
        display: inline-block;
        opacity: 0;
        text-decoration: none; }
        #main_nav ul .nav_item a {
          display: block;
          font-family: "kepler", monospace;
          font-size: 16px;
          height: 80px;
          line-height: 32px;
          min-width: 80px;
          padding: 24px 16px; }
          #main_nav ul .nav_item a:active, #main_nav ul .nav_item a:focus, #main_nav ul .nav_item a:hover {
            background: #FFF;
            color: #00EFF1; }
  #main_content_container {
    overflow: auto;
    padding: 4px;
    z-index: 2; }
    #main_content_container .panel {
      border-radius: 8px;
      padding: 8px; }
      #main_content_container .panel + * {
        margin-top: 4px; } }
