body {
  overflow: hidden;
  transition-duration: 1s;
  transition-property: padding;
  transition-timing-function: ease; }

.container {
  height: 100%;
  position: relative;
  width: 100%; }

#header, #header::before, #header::after, #footer, #footer::before, #footer::after, #console, #console::before, #console::after {
  will-change: transform; }

#home_icon:active > #logo,
#home_icon:focus > #logo,
#home_icon:hover > #logo {
  fill: #00EFF1 !important; }

#console .log_msg {
  animation: fade_in .6s linear forwards;
  bottom: 4px;
  color: #666;
  font-family: "Kepler-452b", monospace;
  height: 24px;
  line-height: 16px;
  font-size: 16px;
  margin: 0;
  padding: 4px 0;
  position: absolute; }

#console .log_msg:last-child {
  color: #000; }

#body.int #header {
  animation: ext_header .4s linear forwards; }
  #body.int #header::before, #body.int #header::after {
    animation: ext_header_pseudo .4s linear forwards; }

#body.int #footer {
  animation: ext_footer .4s linear forwards; }
  #body.int #footer::before, #body.int #footer::after {
    animation: ext_footer_pseudo .4s linear forwards; }

#body.int #console {
  animation: ext_console .4s linear forwards; }

#body.ext #header {
  animation: int_header .4s linear forwards; }
  #body.ext #header::before, #body.ext #header::after {
    animation: int_header_pseudo .4s linear forwards; }

#body.ext #footer {
  animation: int_footer .4s linear forwards; }
  #body.ext #footer::before, #body.ext #footer::after {
    animation: int_footer_pseudo .4s linear forwards; }

#body.ext #console {
  animation: int_console .4s linear forwards; }

@keyframes ext_header {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(-100px); } }

@keyframes ext_header_pseudo {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(-100px); } }

@keyframes ext_footer {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(100px); } }

@keyframes ext_footer_pseudo {
  0% {
    transform: translate(0px, 0px); }
  100% {
    transform: translate(100px, -80px); } }

@keyframes ext_console {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(100px); } }

@keyframes int_header {
  0% {
    transform: translateY(-100px); }
  100% {
    transform: translateY(0px); } }

@keyframes int_header_pseudo {
  0% {
    transform: translateX(-100px); }
  100% {
    transform: translateX(0px); } }

@keyframes int_footer {
  0% {
    transform: translateY(100px); }
  100% {
    transform: translateY(0px); } }

@keyframes int_footer_pseudo {
  0% {
    transform: translate(100px, -80px); }
  100% {
    transform: translate(0px, 0px); } }

@keyframes int_console {
  0% {
    transform: translateY(100px); }
  100% {
    transform: translateY(0px); } }

@keyframes fade_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
