.page-enter {
	transform: translate3d(150%, 0, 0) scale(0.4);
}

.page-enter.page-enter-active {
 	transform: translate3d(0, 0, 0) scale(1);
	transition: transform 1s ease-out;
}

.page-leave {
	transform: translate3d(0, 0, 0) scale(1);
}

.page-leave.page-leave-active {
	transform: translate3d(-150%, 0, 0) scale(0.4);
	transition: transform 1s ease-out;
}
