@import "vars";
/////////////////////////////////
//  buttons ////////////////////
//////////////////////////////
%btn {
	cursor: pointer;
	display: block;
	height: $blockSize;
	font-size: $gridSize;
	font-weight: bold;
	line-height: calc(#{$gridSize} * 2);
	min-width: $blockSize;
	padding: $gridSize;
	* {
		left: 0;
		position: absolute;
		top: 0;
		&.sml {
			height: $gridSize;
			margin: calc(#{$gridSize} * 1.5);
			width: $gridSize;
		}
		&.med {
			height: calc(#{$gridSize} * 3);
			margin: calc(#{$gridSize} / 2);
			width: calc(#{$gridSize} * 3);
		}
		&.lrg {
			height: auto;
			margin: 0;
			width: auto;
		}
	}
	&:active,
	&:focus,
	&:hover {
		background: $highlightColor;
		color: $tealColor;
		.icon,
		.icon * {
			fill: $tealColor;
			stroke: $tealColor;
		}
	}
}
button, .btn { @extend %btn; }

////////////////////////////
//  container ////////////
////////////////////////
%container {
	background: $baseColor;
	border-top: 4px solid #525252;
	border-right: 4px solid #AAA;
	border-left: 4px solid #CCC;
	//box-sizing: content-box;
	margin: 10px;
}
///////////////////
//  panel  ///////
////////////////
%panel {
	background: $plasticColor;
	border-right: 2px solid #CC;
	border-bottom: 2px solid #525252;
	border-left: 2px solid #AAA;
	* {
		//outline: 1px dotted #666;
	}
}
