//colors
$amberColor:  #FFBF00;
$baseColor: #989898;
$highlightColor: #FFF;
$plasticColor: #F8F8F8;
$tealColor: #00EFF1;

//design elements
$gridSize: 16px;
$blockSize: calc(#{$gridSize} * 4);
$gutter: 2px;
$shadow: 0px 0px 128px -32px rgba(0,0,0,.5);

//willchange..
$cornerSml: 6px;
$cornerLrg: 12px;

$paddingSml: 2px;
$paddingMed: 4px;
$paddingLrg: 8px;
$paddingXL: 16px;
