@import "vars";

#header {
	background: $plasticColor;
	height: $blockSize;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
	.header_btn {
		display: block;
		height: $blockSize;
		position: absolute;
		top: 0;
		width: $blockSize;
		z-index: 4;
		&:active,
		&:focus,
		&:hover {
			background: $highlightColor;
		}
		&#logo_btn {
			left: 0;
			#logo_icon {
				height: calc(#{$gridSize} * 3);
				margin: calc(#{$gridSize} / 2);
				position: relative;
				width: calc(#{$gridSize} * 3);
			}
			&:active > svg,
			&:focus > svg,
			&:hover > svg {
				fill: $tealColor;
			}
		}
		&#search_btn {
			right: 0;
			#search_icon {
				height: $gridSize;
				margin: calc(#{$gridSize} * 1.5);
				position: relative;
				width: $gridSize;
			}
			&:active,
			&:focus,
			&:hover {
				#search_icon_shape_1 {
					stroke: $tealColor;
				}
				#search_icon_shape_2 {
					fill: $tealColor;
				}
				background: $highlightColor;
			}
		}
	}
	#main_nav {
		display: block;
		height: $blockSize;
		left: $blockSize;
		overflow-x: auto;
		position: absolute;
		top: 0;
		width: calc(100% - (#{$blockSize} * 2));
		z-index: 4;
		ul {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				flex: 1 1 auto;
				color: #000;
				text-decoration: none;
				a {
					display: block;
					font-family: "kepler", monospace;
					font-size: $gridSize;
					font-weight: bold;
					height: $blockSize;
					line-height: calc(#{$gridSize} * 2);
					padding: $gridSize;
					&:active,
					&:focus,
					&:hover {
						background: $highlightColor;
						color: $tealColor;
					}
				}
			}
		}
	}
}

.container {
	background: #EEE;
	border-radius: $corners;
	box-shadow: inset 0px 2px 6px -1px rgba(0,0,0,.5);
	display: block;
	left: $padding;
	overflow: hidden;
	padding: $padding;
	position: absolute;
	width: calc(100% - (#{$padding} * 2));
	z-index: 2;
	&#main {
		height: calc(100% - ((#{$blockSize} * 2) + (#{$padding} * 4)));
		top: $blockSize;
		.panel {
			background: $plasticColor;
			border-radius: $corners;
			box-shadow: 0px 2px 6px -1px rgba(0,0,0,.5);
			padding: $padding;
			z-index: 1;
			&#intro {
				height: 320px;
			}
		}
	}
	&#footer {
		bottom: $padding;
		height: calc(#{$blockSize} + (#{$padding} * 2));
		* {
			flex: 1 1 auto;
		}
	}
}
//effects
.visible {
	animation: fade_in .6s linear forwards;
}
@keyframes fade_in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
