@import "vars";
@import "animations";
//@import "components";
@import "components/intro";
@import "components/imgs";
@import "components/text";
@import "components/btns";
@import "components/forms";
@import "components/header";
@import "components/footer";
@import "components/menu";
@import "components/main";
@import "components/panels";
@import "components/grid";
@import "components/sidebar";
@import "components/music";
@import "components/music_player";
@import "components/tabs";
@import "components/narrative";
@import "components/search";
@import "components/profiles";

.version_number {
	font-size: 6px;
	position: absolute;
	bottom: 0;
	right: 10px;
	@media(min-width: 840px) {
		bottom: -4px;
		font-size: 8px;
		line-height: 20px;
	}
}

::-webkit-scrollbar {
	cursor: pointer;
	height: $paddingMed;
    width: $paddingMed;
}

::-webkit-scrollbar-thumb {
	background: $plasticColor;
	&:hover {
		background: $highlightColor;
	}
	&:active {
		background: $tealColor;
	}
}

::selection {
  background: $tealColor; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $tealColor; /* Gecko Browsers */
}
