@import "vars";
@import "components";
@import "animations";

a {
	color: inherit;
	cursor: pointer;
	position: relative;
	text-decoration: inherit;
	&[rel="nofollow"] {
		cursor: alias;
	}
	&:focus,
	&:hover {
		color: $tealColor;
	}
	p > & {
		&::before, &::after {
			display: block;
			position: absolute;
			top: -8px;
			transform: translateX(0);
			transition: transform .2s linear;
		}
		&::before {
			content: "[";
			left: -8px;
		}
		&::after {
			content: "]";
			right: -8px;
		}
		&:focus,
		&:hover {
			&::before {
				transform: translateX(-8px);
			}
			&::after {
				transform: translateX(8px);
			}
		}
	}
}
p {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 17px;
	font-weight: lighter;
	line-height: calc(#{$gridSize} * 2);
	margin: 0;
	.panel & {
		color: $baseColor;
	}
	& + * {
		margin-top: $gridSize;
	}
}
h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	min-height: calc(#{$gridSize} * 2);
	line-height: calc(#{$gridSize} * 2);
	margin: 0;
}
h1 {
	font-size: 48px;
    font-weight: 100;
	height: 48px;
    line-height: 48px;
	margin: 12px 0 0 0;
}
h2 {
	font-size: 32px;
	font-weight: 100;
}
h3, h4, h5, h6 {
	font-size: 17px;
}
body {
	&::after {
		//background: rgba(255, 0, 0, 0.4);
		box-shadow: 0 5px 5px -3px rgba(0,0,0,.14) inset, 0 8px 10px 1px rgba(0,0,0,.10) inset, 0 3px 14px 2px rgba(0,0,0,.08) inset;
		content: "";
		display: block;
		height: calc(100% - 36px);
		left: 15px;
		pointer-events: none;
		position: fixed;
		top: 15px;
		width: calc(100% - 39px);
	}
}
#header {
	height: calc(#{$blockSize} * 2);
	left: 10px;
	position: absolute;
	top: 10px;
	width: calc(#{$blockSize} * 2);
	z-index: 2;
	&::after {
		background: #FFF;
		border-bottom: 3px solid grey;
		content: "";
		display: block;
		height: 112px;
		left: -62px;
		top: -28px;
		/* left: calc(0px - (calc(16px * 4))); */
		position: absolute;
		/* top: calc(calc(16px * 4) + 2px); */
		-webkit-transform: rotateZ(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotateZ(-45deg);
		width: 181px;
		border-radius: 3px;
		overflow: hidden;
	}
	&::before {
		-webkit-box-shadow: 0px 1px 8px 1.3px rgba(0, 0, 0, 0.15);
		box-shadow: 0px 1px 8px 1.3px rgba(0, 0, 0, 0.15);
		content: "";
		height: 3px;
		display: block;
		left: -22px;
		position: absolute;
		top: 64px;
		-webkit-transform: rotateZ(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotateZ(-45deg);
		width: 179px;
	}
	.btn {
		border: 0;
		z-index: 4;
		&#logo_btn, #search_btn {
			background: none!important;
			* {
				left: 0;
				padding: 0;
				position: absolute;
				top: 0;
			}
			&:active, &:focus, &:hover {
				* {
					fill: $tealColor;
				}
			}
		}
		&#logo_btn {
			position: absolute;
			left: 0;
			top: 0;
		}
		&#search_btn {
		  // visibility: hid
		  	opacity: 0.4;
		  	position: fixed;
			right: 32px;
			top: 16px;
			&:active,
			&:focus,
			&:hover {
				background: none;
				opacity: 1;
			}
		}
	}
}

#menu {
	display: block;
	height: calc(100vh - 36px);
	left: 24px;
	padding-top: calc(#{$blockSize} * 2);
	pointer-events: none;
	position: absolute;
	top: 32px;
	width: calc(#{$blockSize} * 2);
	z-index: 4;
	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 0;
		padding: 0;
		pointer-events: all;
		li {
			//color: $darkPlastic;
			margin-bottom: $paddingLrg;
			text-decoration: none;
	//		a {
	//			background: rgba(255, 255, 255, 0);
	//			border: 1px solid #000;
	//			opacity: 0.4;
	//			&:focus,
	//			&:hover {
	//				background: rgba(255, 255, 255, .1);
	//				border-color: $plasticColor;
	//				color: $plasticColor;
		//			opacity: 1;
			//	}
			//	&:active {
			//		background: rgba(255, 255, 255, .05);
			//		border-color: $tealColor;
			//		color: $tealColor;
			//		opacity: 1;
		//		}
		//	}
		}
	}
}
#main {
	@extend %container;
	height: calc(100% - (#{$paddingSml} * 2 + 28px));
	left: $paddingSml;
	overflow-y: scroll;
	position: absolute;
	top: $paddingSml;
	width: calc(100% - (#{$paddingSml} * 2 + 28px));
	z-index: 1;
	article {
		flex-direction: column;
		margin-bottom: 18px!important;
		z-index: 3;
	}
	footer {
		z-index: 2;
	}
	article, footer {
		display: flex;
		flex-wrap: wrap;
		margin: calc(#{$blockSize} * 2) auto;
		//opacity: 0;
		position: relative;
		width: calc(#{$blockSize} * 2);
		will-change: transform;
		z-index: 2;
		@media(min-width: 302px) {
			width: calc(#{$blockSize} * 4);
		}
		@media(min-width: 444px) {
			width: calc(#{$blockSize} * 6);
		}
		@media(min-width: 572px) {
			width: calc(#{$blockSize} * 8);
		}
		@media(min-width: 700px) {
			width: calc(#{$blockSize} * 10);
		}
		/*
		        /                       sidebar active                    /
		                                                                      */
		@media(min-width: 812px) {
			margin: calc(#{$blockSize} * 1.2) auto;
			width: calc(#{$blockSize} * 8);
		}
		@media(min-width: 1068px) {
			width: calc(#{$blockSize} * 12);
		}
		@media(min-width: 1324px) {
			width: calc(#{$blockSize} * 16);
		}
		@media(min-width: 1580px) {
			width: calc(#{$blockSize} * 20);
		}
		@media(min-width: 1836px) {
			width: calc(#{$blockSize} * 24);
		}
		@media(min-width: 2092px) {
			width: calc(#{$blockSize} * 28);
		}
		@media(min-width: 2248px) {
			width: calc(#{$blockSize} * 32);
		}
		section, .grid_items {
			position: relative;
			&.intro {
				min-height: 416px;
				padding-top: 16px;
				z-index: 4;
			}
			&.grid_items {
				display: flex;
				flex-wrap: wrap;
				.grid_item {
					background-color: $plasticColor;
					background-size: cover;
					background-position: center center;
					//border-radius: 1px;
					box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
					//border-right: 3px solid #AAA;
					//border-bottom: 4px solid #525252;
					//border-left: 3px solid #CCC;
					cursor: pointer;
					flex-shrink: 0;
					height: calc(#{$blockSize} * 2 - 4px);
				    justify-content: center;
				    margin: 1px 2px 3px 2px;
					overflow: hidden;
					position: relative;
					width: calc(#{$blockSize} * 2 - 4px);
					@media(min-width: 812px) {
						height: calc(#{$blockSize} * 4 - 4px);
						width: calc(#{$blockSize} * 4 - 4px);
					}
					.container {
						height: 100%;
						left: 0;
						opacity: 0;
						overflow: hidden;
						position: absolute;
						top: 0;
						transition-duration: .1s;
						transition-property: all;
						transition-timing-function: ease-out;
						width: 100%;
						.content {
							background-color: $highlightColor;
							color: #000!important;
							height: 100%;
							overflow-x: hidden;
							overflow-y: auto;
							padding: $paddingMed;
							position: absolute;
							width: 100%;
						}
					}
					&:hover {
						.container {
							//	animation: flicker_on_quick .3s linear forwards;
							opacity: 1;
						}
					}
					&:active {
						.content {
							background-color: $tealColor;
						}
					}
				}
			}
		}
		&#footer {
			display:flex;
			justify-content: space-between;
			margin-top: 0;
			.panel {
				width: calc(50% - 4px);
				&#social_panel {
					padding-bottom: 0;
				}
			}
		}
	}
}
.img_container {
	align-items: center;
	display: flex;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: relative;
	top: 0;
	width: 100%;
	&.loaded {
		animation: flicker_on 1s linear forwards;
	}
	img {
		flex-shrink: 0;
		object-fit: cover;
	}
}
#sidebar {
	display: none;
	z-index: 1;
	@media(min-width: 812px) {
		display: block;
		height: calc(100% - 36px);
		right: 32px;
		position: fixed;
		top: 16px;
		width: calc(#{$blockSize} * 2);
		.contents {
			height: 100%;
			position: relative;
			width: 100%;
			> * {
				opacity: 0.3;
				&#console {
					bottom: calc(#{$blockSize} + #{$gridSize});
					cursor: pointer;
					display: flex;
					flex-wrap: wrap;
					height: $blockSize;
					justify-content: flex-start;
					opacity: 1;
					position: absolute;
					transform: rotateZ(-90deg);
					transform-origin: 32px 0px;
					width: calc(100vh - (#{$blockSize} * 3));
					* {
						height: calc(#{$blockSize} / 2);
						font-size: $gridSize;
						line-height: calc(#{$blockSize} / 2);
						margin: 0 $gridSize;;
						opacity: 0.4;
						padding: 0;
						&:focus,
						&:hover {
							opacity: 1;
						}
					}
				}
				&#qr_code {
					bottom: calc(#{$gridSize} * 2);
					cursor: pointer;
					height: $blockSize;
					left: calc(#{$gridSize} * 2);
					position: absolute;
					width: $blockSize;
					&:focus,
					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}

.chips_container {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.panel_container {
	display: flex;
	flex-wrap: wrap;
	> * {
		padding: 0;
		width: 100%;
		@media(min-width: 1068px) {
			width: 50%;
		}
		@media(min-width: 1580px) {
			width: 33.3333333%;
		}
	}
}

.inline_panel {
	display: flex;
	flex-direction: column;
	> * {
		padding: $paddingXL calc(#{$blockSize} / 2);
	}
	.panel_header {
		align-items: center;
		display: flex;
		min-height: 96px;
		position: relative;
		.profile_bg {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			.bg_container {
				display: flex;
				height: 100%;
				position: relative;
				width: 100%;
				.img_container {
					background: $textColor;
					display: flex;
					overflow: hidden;
					position: relative;
					width: 100%;
					img {
						opacity: 0.5;
					}
				}
			}
		}
		.profile_photo {
			flex-grow: 0;
			flex-shrink: 0;
			margin-right: $gridSize;
			.img_container {
				background: $plasticColor;
				border-radius: 50%;
				box-shadow: $chip_shadow;
				height: $blockSize;
				overflow: hidden;
				width: $blockSize;
			}
		}
		h3 {
			color: $highlightColor;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.4), 0px 0px 15px rgba(0,0,0,0.2);
		}
	}
	.panel_article {
		min-height: 192px;
		height: calc(100% - 104px);
	}
}


#speakers {
	background-color: $baseColor;
	background-image: url("https://sammurphey.net/img/ui/speaker_texture.jpg");
	background-position: center;
	height: calc(#{$blockSize} * 4 - 68px);
	margin: 16px 34px 34px 34px;
	width: calc(100% - 68px);
}





::-webkit-scrollbar {
	cursor: pointer;
	height: $paddingMed;
    width: $paddingMed;
}

::-webkit-scrollbar-thumb {
	background: $plasticColor;
	&:hover {
		background: $highlightColor;
	}
	&:active {
		background: $tealColor;
	}
}

.version_number {
	font-size: 12px;
	line-height: 20px;
	margin-right: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
}

::selection {
  background: $tealColor; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $tealColor; /* Gecko Browsers */
}
