RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond $1 !\.(css|js|jpe?g|gif|png|tiff|txt|html|php|otf|svg|ttf)$
  RewriteRule ^(.+)$ index.html/$1 [L,QSA]
