button, .btn, #main_nav ul li a {
  cursor: pointer;
  display: block;
  height: calc(16px * 4);
  font-size: 16px;
  font-weight: bold;
  line-height: calc(16px * 2);
  min-width: calc(16px * 4);
  padding: 16px; }
  button > *, .btn > *, #main_nav ul li a > * {
    left: 0;
    position: absolute;
    top: 0; }
    button > *.lrg, .btn > *.lrg, #main_nav ul li a > *.lrg {
      height: calc(16px * 3);
      margin: calc(16px / 2);
      width: calc(16px * 3); }
    button > *.sml, .btn > *.sml, #main_nav ul li a > *.sml {
      height: 16px;
      margin: calc(16px * 1.5);
      width: 16px; }
  button:active, .btn:active, #main_nav ul li a:active, button:focus, .btn:focus, #main_nav ul li a:focus, button:hover, .btn:hover, #main_nav ul li a:hover {
    background: #FFF;
    color: #00EFF1; }
    button:active .icon, .btn:active .icon, #main_nav ul li a:active .icon, button:active .icon *, .btn:active .icon *, #main_nav ul li a:active .icon *, button:focus .icon, .btn:focus .icon, #main_nav ul li a:focus .icon, button:focus .icon *, .btn:focus .icon *, #main_nav ul li a:focus .icon *, button:hover .icon, .btn:hover .icon, #main_nav ul li a:hover .icon, button:hover .icon *, .btn:hover .icon *, #main_nav ul li a:hover .icon * {
      fill: #00EFF1;
      stroke: #00EFF1; }

.container {
  background: #EEE;
  border-radius: 6px;
  box-shadow: inset 0px 2px 6px -1px rgba(0, 0, 0, 0.5);
  display: block;
  left: 2px;
  overflow: hidden;
  padding: 2px;
  width: calc(100% - (2px * 2)); }
  @media (min-width: 480px) {
    .container {
      left: 4px;
      width: calc(100% - (4px * 2)); } }
  @media (min-width: 768px) {
    .container {
      border-radius: 12px;
      left: 8px;
      width: calc(100% - (8px * 2)); } }
  @media (min-width: 1024px) {
    .container {
      left: 16px;
      width: calc(100% - (16px * 2)); } }

.panel {
  background: #F8F8F8;
  border-radius: 6px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.5);
  padding: 2px; }
  @media (min-width: 480px) {
    .panel {
      padding: 4px; } }
  @media (min-width: 768px) {
    .panel {
      border-radius: 12px;
      padding: 8px; } }
  @media (min-width: 1024px) {
    .panel {
      padding: 16px; } }

#header {
  background: #F8F8F8;
  height: calc(16px * 4);
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2; }
  #header .btn {
    position: absolute;
    top: 0;
    z-index: 4; }
    #header .btn#logo_btn {
      left: 0; }
    #header .btn#search_btn {
      right: 0; }

#main_nav {
  display: block;
  height: calc(16px * 4);
  left: calc(16px * 4);
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  width: calc(100% - (calc(16px * 4) * 2));
  z-index: 4; }
  #main_nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
    #main_nav ul li {
      color: #000;
      text-decoration: none; }
      #main_nav ul li a:active, #main_nav ul li a:focus, #main_nav ul li a:hover {
        background: #FFF;
        color: #00EFF1; }

.container {
  position: absolute;
  z-index: 2; }
  .container#main {
    height: calc(100% - ((calc(16px * 4) * 2) + (2px * 2) + (2px * 2)));
    top: calc(16px * 4); }
    @media (min-width: 480px) {
      .container#main {
        height: calc(100% - ((calc(16px * 4) * 2) + (4px * 2) + (2px * 2))); } }
    @media (min-width: 768px) {
      .container#main {
        height: calc(100% - ((calc(16px * 4) * 2) + (8px * 2) + (2px * 2))); } }
    @media (min-width: 1024px) {
      .container#main {
        height: calc(100% - ((calc(16px * 4) * 2) + (16px * 2) + (2px * 2))); } }
  .container#footer {
    bottom: 2px;
    height: calc(calc(16px * 4) + (2px * 2)); }
    @media (min-width: 480px) {
      .container#footer {
        bottom: 4px; } }
    @media (min-width: 768px) {
      .container#footer {
        bottom: 8px; } }
    @media (min-width: 1024px) {
      .container#footer {
        bottom: 16px; } }
  .container .panel {
    z-index: 1; }
    .container .panel#intro {
      border-radius-left: 0;
      height: 320px; }

.visible {
  animation: fade_in .6s linear forwards; }

@keyframes fade_in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
