.page-enter {
  animation: page_enter 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: .6s;
  opacity: 0;
  transform: translateY(50%); }

@keyframes page_enter {
  0% {
    opacity: 0;
    transform: translateY(50%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.page-leave {
  animation: page_leave 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  opacity: 1;
  transform: translateY(0%); }

@keyframes page_leave {
  0% {
    opacity: 1;
    transform: translateY(0%); }
  100% {
    opacity: 0;
    transform: translateY(50%); } }

.flicker_on {
  animation: flicker_on 1s linear forwards;
  opacity: 0; }

@keyframes flicker_on {
  0% {
    opacity: 0; }
  4% {
    opacity: 0; }
  5%, 7% {
    opacity: 0.1; }
  8% {
    opacity: 0; }
  11% {
    opacity: 0; }
  12%, 13% {
    opacity: 0.2; }
  14% {
    opacity: 0; }
  36% {
    opacity: 0; }
  37%, 41% {
    opacity: 0.06; }
  42% {
    opacity: 0; }
  80% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes flicker_on_quick {
  0% {
    opacity: 0; }
  1%, 7% {
    opacity: 0.2; }
  8% {
    opacity: 0; }
  20% {
    opacity: 0; }
  21%, 27% {
    opacity: 0.2; }
  28% {
    opacity: 0.1; }
  80% {
    opacity: 0.1; }
  100% {
    opacity: 1; } }

@keyframes expand_header_text {
  0% {
    line-height: 0px;
    transform: translateY(0px); }
  100% {
    line-height: 32px;
    transform: translateY(-16px); } }

@keyframes expand_sidebar_text {
  0% {
    line-height: 0px;
    transform: translateY(0px); }
  100% {
    line-height: 16px;
    transform: translateY(8px); } }

#intro {
  height: auto;
  margin-bottom: 2px;
  padding: 0 0 32px 0 !important;
  position: relative;
  z-index: 4; }
  @media (min-width: 460px) {
    #intro {
      min-height: 192px; } }
  @media (min-width: 840px) {
    #intro {
      min-height: 224px; } }
  @media (min-width: 1154px) {
    #intro {
      min-height: 416px;
      padding: 0; } }
  #intro h1#page_title {
    margin-bottom: 0;
    margin-left: 48px;
    margin-top: 0;
    padding-bottom: 32px;
    padding-top: 16px;
    width: 100%; }
    @media (min-width: 460px) {
      #intro h1#page_title {
        padding-bottom: 0; } }
    @media (min-width: 840px) {
      #intro h1#page_title {
        margin-left: 32px; } }
    #intro h1#page_title span {
      float: left; }
    #intro h1#page_title.with_profile {
      float: left;
      width: calc(100% - 144px); }
      @media (min-width: 840px) {
        #intro h1#page_title.with_profile {
          width: calc(100% - 160px); } }
    #intro h1#page_title.with_hero {
      width: calc(100% - 64px); }
      @media (min-width: 460px) {
        #intro h1#page_title.with_hero {
          float: left;
          margin-right: 0;
          width: calc(100% - 304px); } }
      @media (min-width: 840px) {
        #intro h1#page_title.with_hero {
          width: calc(100% - 288px); } }
      @media (min-width: 1154px) {
        #intro h1#page_title.with_hero {
          margin-right: 48px;
          width: calc(100% - 560px); } }
  #intro .page_description {
    margin-left: 32px;
    padding-top: 0px;
    padding-right: 32px; }
    #intro .page_description:first-child {
      padding-top: 60px; }
    @media (max-width: 460px) {
      #intro .page_description {
        clear: both;
        padding-top: 0px; } }
  #intro .profile_photo {
    float: right;
    margin-top: 14px;
    margin-right: 16px; }
  #intro .hero_img {
    background: #989898;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2) inset, 0 2px 2px 0 rgba(0, 0, 0, 0.14) inset, 0 1px 5px 0 rgba(0, 0, 0, 0.12) inset;
    float: right;
    height: calc(100vw - (10px * 2));
    margin-bottom: 0;
    margin-left: 64px;
    padding: 4px 0;
    width: 100%;
    z-index: 5; }
    @media (min-width: 460px) {
      #intro .hero_img {
        height: 192px;
        padding: 0 0 4px 4px;
        width: 192px; } }
    @media (min-width: 840px) {
      #intro .hero_img {
        margin-bottom: 32px; } }
    @media (min-width: 1154px) {
      #intro .hero_img {
        height: 416px;
        margin-bottom: 0;
        padding: 0 0 0 4px;
        width: 416px; } }
  #intro .info_sidebar {
    margin: 0 32px; }
    #intro .info_sidebar p {
      margin: 0; }
    @media (min-width: 1154px) {
      #intro .info_sidebar {
        bottom: 192px;
        margin: 0;
        padding: 0;
        position: absolute;
        transform: rotateZ(-90deg);
        right: 264px;
        width: calc(416px - 32px); }
        #intro .info_sidebar p {
          height: 24px; } }
  #intro .external_links,
  #intro .back_home_link {
    margin: 16px 32px 0 32px; }
  #intro .cta_btn {
    margin: 0 8px 8px 0; }
  #intro .back_home_link {
    display: inline-block;
    width: auto; }
  #intro.full_size_img {
    display: flex;
    flex-direction: column-reverse; }
    #intro.full_size_img .imgLink {
      z-index: 1; }

.img_container {
  align-items: center;
  display: flex;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: relative;
  top: 0;
  width: 100%; }
  .img_container.loaded, .img_container[data-type="mp4"] {
    animation: flicker_on 1s linear forwards; }
  .img_container img, .img_container video {
    flex-shrink: 0;
    object-fit: cover; }
  .img_container video {
    position: absolute;
    height: 100%;
    width: 100%; }

a {
  color: inherit;
  cursor: pointer;
  line-height: 32px;
  position: relative;
  text-decoration: inherit; }
  a[rel="noopener noreferrer"] {
    cursor: alias; }
  a:focus, a:hover {
    color: #00EFF1 !important; }
  p > a,
  dt > a,
  dd > a {
    padding: 0 10px !important; }
    p > a::before, p > a::after,
    dt > a::before,
    dt > a::after,
    dd > a::before,
    dd > a::after {
      display: block;
      position: absolute;
      top: -8px;
      transform: translateX(0);
      transition: transform .2s linear; }
    p > a::before,
    dt > a::before,
    dd > a::before {
      content: "[";
      left: 0; }
    p > a::after,
    dt > a::after,
    dd > a::after {
      content: "]";
      right: 0; }
    p > a:focus::before, p > a:hover::before,
    dt > a:focus::before,
    dt > a:hover::before,
    dd > a:focus::before,
    dd > a:hover::before {
      transform: translateX(-8px); }
    p > a:focus::after, p > a:hover::after,
    dt > a:focus::after,
    dt > a:hover::after,
    dd > a:focus::after,
    dd > a:hover::after {
      transform: translateX(8px); }

p, dt, dl {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 17px;
  font-weight: lighter;
  line-height: 24px;
  margin: 0;
  position: relative;
  word-break: break-word; }
  .panel p, .panel dt, .panel dl {
    color: #666;
    margin-top: 8px; }
  p + *, dt + *, dl + * {
    margin-top: 16px; }
  p span, dt span, dl span {
    display: block;
    margin-bottom: 8px; }

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 0 0 8px 0;
  word-break: break-word; }
  h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child {
    margin-bottom: 0px; }

h1 {
  font-size: 32px;
  font-weight: 100;
  min-height: 32px;
  line-height: 32px;
  margin-top: 0; }
  @media (min-width: 840px) {
    h1 {
      font-size: 42px;
      min-height: 42px;
      line-height: 42px; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 48px;
      margin-top: 12px;
      min-height: 48px;
      line-height: 48px; } }

h2 {
  font-size: 22px;
  font-weight: 100;
  line-height: calc(16px * 2);
  min-height: calc(16px * 2); }
  @media (min-width: 600px) {
    h2 {
      font-size: 32px; } }

h3, h4, h5, h6 {
  font-size: 17px;
  line-height: 16px;
  min-height: 16px; }

ul, ol {
  margin: 8px 0 0 0; }

dt, dl, dd {
  margin: 0; }

.subtitle {
  color: #000 !important; }
  .subtitle a,
  .subtitle span {
    color: #666; }
  #metadata .subtitle a, #metadata .subtitle span {
    display: inline !important; }

button,
.btn {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #5f5f5f;
  color: #5f5f5f;
  cursor: pointer;
  display: block;
  height: 64px;
  font-size: 16px;
  font-weight: bold;
  line-height: calc(16px * 2);
  min-width: 64px;
  outline: none;
  padding: 16px;
  position: relative; }
  p > button, p >
  .btn {
    display: inline-block;
    font-weight: lighter; }
    p > button:hover, p >
    .btn:hover {
      background: #FFF !important;
      border-color: #5f5f5f !important;
      color: #5f5f5f !important; }
    p > button:focus, p > button:active, p >
    .btn:focus, p >
    .btn:active {
      border-color: #00EFF1 !important;
      color: #00EFF1 !important; }
  .panel li > button:not(.chip), .panel li >
  .btn:not(.chip) {
    align-items: center;
    display: flex;
    margin-right: 8px; }
    .panel li > button:not(.chip) .icon, .panel li > button:not(.chip) svg, .panel li >
    .btn:not(.chip) .icon, .panel li >
    .btn:not(.chip) svg {
      height: 32px;
      opacity: 1;
      padding: 5px 8px 11px 0;
      width: 32px; }
    .panel li > button:not(.chip):hover .icon, .panel li > button:not(.chip):hover svg, .panel li > button:not(.chip):focus .icon, .panel li > button:not(.chip):focus svg, .panel li > button:not(.chip):active .icon, .panel li > button:not(.chip):active svg, .panel li >
    .btn:not(.chip):hover .icon, .panel li >
    .btn:not(.chip):hover svg, .panel li >
    .btn:not(.chip):focus .icon, .panel li >
    .btn:not(.chip):focus svg, .panel li >
    .btn:not(.chip):active .icon, .panel li >
    .btn:not(.chip):active svg {
      fill: #00EFF1 !important; }
  button + *,
  .btn + * {
    margin-top: 8px; }
  button > *,
  .btn > * {
    position: relative; }
    button > *.icon,
    .btn > *.icon {
      height: 32px;
      opacity: 1;
      padding: 8px;
      width: 32px; }
    button > *.sml,
    .btn > *.sml {
      height: calc(16px * 2);
      margin: calc(16px / 2) 0;
      width: calc(16px * 2); }
    button > *.med,
    .btn > *.med {
      height: calc(16px * 3);
      margin: calc(16px / 2);
      width: calc(16px * 3); }
    button > *.lrg,
    .btn > *.lrg {
      height: auto;
      margin: 0;
      width: auto; }
  .panel button:focus, .panel button:hover, .panel
  .btn:focus, .panel
  .btn:hover {
    border-color: #00EFF1;
    color: #00EFF1; }
  button:focus, button:hover,
  .btn:focus,
  .btn:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #FFF;
    color: #FFF; }
  button:active,
  .btn:active {
    background: rgba(0, 0, 0, 0.05);
    border-color: #00EFF1 !important;
    color: #00EFF1; }

.chip {
  background: #F8F8F8;
  border: 0;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  margin: 0 calc(64px / 2) calc(64px / 2) 0; }
  .chip.sml {
    height: 36px;
    margin: 0 16px 16px 0;
    min-width: 0;
    padding: 2px;
    width: 36px; }
  .chip .icon {
    opacity: 0.5; }
  .chip:focus, .chip:hover {
    background: #FFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15); }
    .chip:focus .icon,
    .chip:focus .icon *, .chip:hover .icon,
    .chip:hover .icon * {
      opacity: 0.3; }
  .chip:active {
    background: #00EFF1;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1); }

.chips_container {
  align-items: center;
  display: flex;
  flex-wrap: wrap; }

textarea,
input {
  background: #989898 !important;
  border: 1px solid #000;
  color: #FFF;
  cursor: pointer;
  display: block;
  height: 64px;
  font-family: "Kepler-452b", monospace;
  font-size: 16px;
  font-weight: bold;
  line-height: calc(16px * 2);
  min-width: 64px;
  outline: none;
  padding: 16px;
  position: relative; }
  textarea::placeholder,
  input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ECECEC;
    opacity: 1;
    /* Firefox */ }
  textarea:-ms-input-placeholder,
  input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ECECEC; }
  textarea::-ms-input-placeholder,
  input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ECECEC; }
  textarea:hover,
  input:hover {
    background: #b1b1b1 !important;
    border-color: #5f5f5f !important;
    color: #FFF; }
    textarea:hover::placeholder,
    input:hover::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #FFF;
      opacity: 1;
      /* Firefox */ }
    textarea:hover:-ms-input-placeholder,
    input:hover:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #FFF; }
    textarea:hover::-ms-input-placeholder,
    input:hover::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #FFF; }
  textarea:focus, textarea:active,
  input:focus,
  input:active {
    border-color: #00EFF1 !important;
    color: #FFF; }
    textarea:focus::placeholder, textarea:active::placeholder,
    input:focus::placeholder,
    input:active::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #FFF;
      opacity: 1;
      /* Firefox */ }
    textarea:focus:-ms-input-placeholder, textarea:active:-ms-input-placeholder,
    input:focus:-ms-input-placeholder,
    input:active:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #FFF; }
    textarea:focus::-ms-input-placeholder, textarea:active::-ms-input-placeholder,
    input:focus::-ms-input-placeholder,
    input:active::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #FFF; }
  textarea[type="submit"],
  input[type="submit"] {
    background: rgba(255, 255, 255, 0) !important;
    color: #000 !important; }
    textarea[type="submit"]:hover,
    input[type="submit"]:hover {
      background: #FFF !important;
      border-color: #5f5f5f !important;
      color: #5f5f5f !important; }
    textarea[type="submit"]:focus, textarea[type="submit"]:active,
    input[type="submit"]:focus,
    input[type="submit"]:active {
      border-color: #00EFF1 !important;
      color: #00EFF1 !important; }
  textarea + *,
  input + * {
    margin-top: 8px; }

#header .header_btn {
  border: 0;
  display: inline-block;
  z-index: 4; }
  #header .header_btn#logo_btn, #header .header_btn#search_btn, #header .header_btn#menu_btn {
    align-items: center;
    background: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0; }
    #header .header_btn#logo_btn:active *, #header .header_btn#logo_btn:focus *, #header .header_btn#logo_btn:hover *, #header .header_btn#search_btn:active *, #header .header_btn#search_btn:focus *, #header .header_btn#search_btn:hover *, #header .header_btn#menu_btn:active *, #header .header_btn#menu_btn:focus *, #header .header_btn#menu_btn:hover * {
      fill: #00EFF1; }
  #header .header_btn#logo_btn {
    position: absolute;
    left: 0;
    top: 0; }
    #header .header_btn#logo_btn * {
      padding: 0; }
  #header .header_btn#search_btn, #header .header_btn#menu_btn {
    position: absolute;
    top: 8px; }
    @media (min-width: 840px) {
      #header .header_btn#search_btn, #header .header_btn#menu_btn {
        top: 20px; } }
  #header .header_btn#search_btn {
    right: 64px; }
    @media (min-width: 840px) {
      #header .header_btn#search_btn {
        right: 32px; } }
    @media (min-width: 840px) and (max-height: 437px) {
      #header .header_btn#search_btn {
        right: 64px; } }
    #header .header_btn#search_btn:active, #header .header_btn#search_btn:focus, #header .header_btn#search_btn:hover {
      background: none; }
      #header .header_btn#search_btn:active svg polygon, #header .header_btn#search_btn:focus svg polygon, #header .header_btn#search_btn:hover svg polygon {
        fill: none;
        stroke: #00EFF1; }
  #header .header_btn#menu_btn {
    display: none; }
    @media (max-width: 839px) {
      #header .header_btn#menu_btn {
        display: flex;
        right: 16px; } }
    @media (min-width: 840px) and (max-height: 437px) {
      #header .header_btn#menu_btn {
        display: flex;
        right: 16px; } }
    #header .header_btn#menu_btn svg {
      padding: 6px; }
    #header .header_btn#menu_btn:active, #header .header_btn#menu_btn:focus, #header .header_btn#menu_btn:hover {
      background: none; }
      #header .header_btn#menu_btn:active svg path, #header .header_btn#menu_btn:focus svg path, #header .header_btn#menu_btn:hover svg path {
        fill: none; }
      #header .header_btn#menu_btn:active svg .color, #header .header_btn#menu_btn:focus svg .color, #header .header_btn#menu_btn:hover svg .color {
        fill: #00EFF1; }

#footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 18px auto 4px auto !important;
  z-index: 2; }
  @media (min-width: 840px) {
    #footer {
      margin-bottom: 114px !important; } }
  #footer .panel {
    width: calc(50% - 4px); }
    #footer .panel#social_panel {
      padding-bottom: 0; }

#speakers {
  background-color: #989898;
  background-image: url("https://cdn.sammurphey.net/ui/speaker_texture.jpg");
  background-position: center;
  height: calc(64px * 4 - 68px);
  margin: 16px 34px 34px 34px;
  width: calc(100% - 68px); }

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

#menu_checkbox {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  background: none;
  background: none !important;
  border: none; }
  @media (max-width: 839px) {
    #menu_checkbox:checked ~ #menu {
      transform: translateX(-183px); } }
  @media (min-width: 840px) and (max-height: 437px) {
    #menu_checkbox:checked ~ #menu {
      transform: translateX(-183px); } }

#menu {
  background: #FFF;
  bottom: auto;
  display: block;
  height: calc(100vh - 20px);
  left: auto;
  padding: 32px;
  position: absolute;
  right: -183px;
  top: 2px;
  transition: transform .6s ease;
  width: 192px;
  will-change: transform;
  z-index: 4; }
  #menu::after {
    border-top: 4px solid #464545;
    border-right: 4px solid #c5c5c5;
    display: block;
    content: "";
    height: 100%;
    left: -32px;
    position: absolute;
    top: 0;
    width: 32px; }
  #menu #close_menu_btn {
    position: absolute;
    top: -12px;
    right: 16px; }
    #menu #close_menu_btn svg {
      padding: 6px; }
    #menu #close_menu_btn:hover, #menu #close_menu_btn:focus, #menu #close_menu_btn:active {
      background: none; }
      #menu #close_menu_btn:hover svg, #menu #close_menu_btn:focus svg, #menu #close_menu_btn:active svg {
        fill: #00EFF1; }
  @media (min-width: 840px) and (min-height: 438px) {
    #menu {
      background: none;
      height: auto;
      left: 23px;
      margin: 0;
      padding: 0;
      pointer-events: none;
      right: auto;
      top: 199px;
      transition: none;
      width: calc(64px * 2); }
      #menu::after {
        content: none; }
      #menu #close_menu_btn {
        display: none; } }
  #menu ul {
    flex-direction: column;
    margin-top: 24px;
    pointer-events: all; }
    @media (min-width: 840px) {
      #menu ul {
        margin-top: 0; } }
    #menu ul li {
      text-decoration: none; }
      #menu ul li + * {
        margin-top: 8px; }
      #menu ul li a.btn:focus, #menu ul li a.btn:hover {
        border-color: #00EFF1; }
      @media (min-width: 840px) and (min-height: 438px) {
        #menu ul li a.btn:focus, #menu ul li a.btn:hover {
          border-color: #FFF !important;
          color: #FFF !important; } }
      #menu ul li a.btn:active {
        border-color: #00EFF1 !important;
        color: #00EFF1 !important; }
  @media (min-width: 840px) and (max-height: 572px) {
    #menu {
      bottom: 22px;
      top: auto; }
      #menu ul li a.btn {
        height: 48px;
        padding: 8px 16px; } }
  @media (min-width: 840px) and (max-height: 437px) {
    #menu {
      height: calc(100vh - 30px);
      top: 7px;
      right: -177px; }
      #menu #close_menu_btn {
        left: auto;
        padding: 0;
        right: -32px; }
      #menu ul {
        display: block;
        height: 100%;
        overflow: auto;
        padding-right: 4px; }
        #menu ul::-webkit-scrollbar-thumb {
          background: #666; }
          #menu ul::-webkit-scrollbar-thumb:hover {
            background: #00EFF1; }
          #menu ul::-webkit-scrollbar-thumb:active {
            background: #00EFF1; } }

main#app {
  background: #989898;
  border-top: 4px solid #525252;
  border-right: 4px solid #CCC;
  border-left: 4px solid #7d7d7d;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  z-index: 1;
  width: 100%; }
  main#app .overview_view,
  main#app .subcategory_view,
  main#app .project_view,
  main#app .details_view,
  main#app .null_view,
  main#app #footer {
    position: relative;
    width: 100%;
    will-change: transform;
    z-index: 2;
    /* sidebar active*/ }
    @media (min-width: 840px) {
      main#app .overview_view,
      main#app .subcategory_view,
      main#app .project_view,
      main#app .details_view,
      main#app .null_view,
      main#app #footer {
        width: calc(100% - (138px * 2)); } }
  main#app .overview_view,
  main#app .subcategory_view,
  main#app .project_view,
  main#app .details_view,
  main#app .null_view {
    display: block;
    margin: 55px auto 18px auto; }
    @media (min-width: 840px) {
      main#app .overview_view,
      main#app .subcategory_view,
      main#app .project_view,
      main#app .details_view,
      main#app .null_view {
        margin: 114px auto 8px auto; } }

.panel_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%; }
  @media (min-width: 840px) {
    .panel_wrapper {
      flex-wrap: nowrap; } }
  .panel_wrapper .panel {
    flex-grow: 0;
    flex-shrink: 1;
    height: auto !important;
    width: 100%; }
    .panel_wrapper .panel.img_elem {
      width: 100%; }
      .panel_wrapper .panel.img_elem.single_img {
        padding: 0 !important; }
        .panel_wrapper .panel.img_elem.single_img img {
          cursor: zoom-in;
          height: auto !important;
          width: auto !important;
          max-width: 100% !important; }
          .panel_wrapper .panel.img_elem.single_img img:active {
            cursor: zoom-out;
            width: 100% !important; }

.panel_container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /*&::before, &::after {
		background: $lightGrey;
		box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3)inset, 0 4px 2px 0 rgba(0,0,0,.16) inset, 0 8px 2px 0 rgba(255,255,255,.08) inset, 0 1px 5px 0 rgba(0,0,0,.12), 0 -1px 0 0 rgba(255, 255, 255, 0.3)inset, 0 -4px 10px 0 rgba(0,0,0,.2) inset, 0 -8px 2px 0 rgba(255,255,255,.02) inset;
		color: $darkGrey;
		content: "o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o ";
		display: flex;
		font-size: 10px;
		height: 16px;
		left: 8px;
		line-height: 16px;
		overflow: hidden;
		padding: 0 4px;
		position: absolute;
		text-align: center;
		width: calc(100% - 16px);
		z-index: -1;
	}*/ }
  .panel_container::before {
    top: 32px; }
  .panel_container::after {
    bottom: 32px; }

.panel {
  background: #ECECEC;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  display: block;
  margin: 2px;
  padding: 16px;
  transition: background .2s linear; }
  @media (min-width: 600px) {
    .panel {
      padding: calc(16px * 2); } }
  .panel:hover {
    background: #F8F8F8; }
  .panel + h2 {
    margin-bottom: 19px; }
  .panel, .panel * {
    -webkit-tap-highlight-color: #00EFF1;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; }
  .panel *.corner {
    background: #989898;
    bottom: auto;
    height: 90px;
    left: -45px;
    position: absolute;
    right: auto;
    top: -45px;
    transform: rotateZ(45deg);
    width: 90px; }
    .panel *.corner::after {
      border-left: 0;
      border-right: 1px solid #898989;
      bottom: auto;
      content: "";
      display: block;
      height: 100%;
      left: auto;
      position: absolute;
      right: 0;
      top: auto;
      width: 0%; }
    .panel *.corner.bottom-right {
      bottom: -45px;
      left: auto;
      right: -45px;
      top: auto;
      transform: rotateZ(225deg); }
      .panel *.corner.bottom-right::after {
        border-left: 1px solid #7b7b7b;
        border-right: 1px solid #686868;
        bottom: auto;
        left: 88px;
        right: auto;
        top: 0px; }

.subcategories_previews header {
  margin-top: 4px; }

.inline_panel {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%; }
  @media (min-width: 1200px) {
    .inline_panel {
      width: 50%; } }
  @media (min-width: 1580px) {
    .inline_panel {
      width: 33.3333333%; } }
  .inline_panel .panel_header, .inline_panel .panel_article {
    padding: 16px calc(64px / 2); }
  .inline_panel .panel_header {
    align-items: center;
    display: flex;
    margin-bottom: 4px;
    margin-top: 2px;
    min-height: 96px;
    pointer-events: none;
    position: relative; }
    @media (max-width: 1580px) {
      .inline_panel .panel_header h2 {
        font-size: 10px; } }
    .inline_panel .panel_header .profile_bg {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
      .inline_panel .panel_header .profile_bg .bg_container {
        display: flex;
        height: 100%;
        position: relative;
        width: 100%; }
        .inline_panel .panel_header .profile_bg .bg_container .img_container {
          background: #000;
          display: flex;
          overflow: hidden;
          position: relative;
          width: 100%; }
          .inline_panel .panel_header .profile_bg .bg_container .img_container img {
            opacity: 0.5; }
    .inline_panel .panel_header h3 {
      color: #FFF;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4), 0px 0px 15px rgba(0, 0, 0, 0.2); }
  .inline_panel .panel_article {
    height: 192px;
    overflow: auto; }

.panel + #related {
  margin: 4px 0 0 0; }

#intro + #metadata {
  margin-top: 4px; }

#social_panel {
  width: 100% !important;
  margin: 0; }

.grid {
  display: flex;
  flex-wrap: wrap;
  position: relative; }

.grid_item {
  background-color: #F8F8F8;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: block;
  height: auto;
  flex-shrink: 0;
  padding-bottom: 33%;
  justify-content: center;
  margin: 2px;
  overflow: hidden;
  position: relative;
  padding-bottom: calc(100% - 4px);
  width: calc(100% - 4px); }
  @media (min-width: 340px) {
    .grid_item {
      padding-bottom: calc(50% - 4px);
      width: calc(50% - 4px); } }
  @media (min-width: 600px) {
    .grid_item {
      padding-bottom: calc(33.333333333333% - 4px);
      width: calc(33.333333333333% - 4px); } }
  @media (min-width: 840px) {
    .grid_item {
      padding-bottom: calc(25% - 4px);
      width: calc(25% - 4px); } }
  @media (min-width: 1068px) {
    .grid_item {
      padding-bottom: calc(20% - 4px);
      width: calc(20% - 4px); } }
  @media (min-width: 1580px) {
    .grid_item {
      padding-bottom: calc(16.666666666666% - 4px);
      width: calc(16.666666666666% - 4px); } }
  .grid_item a {
    display: block;
    height: 100%;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%; }
  .grid_item .container {
    min-height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition-duration: .1s;
    transition-property: all;
    transition-timing-function: ease-out;
    width: 100%;
    max-width: 100%; }
    .grid_item .container .content {
      background-color: #FFF;
      color: #000 !important;
      height: 100%;
      padding: 16px;
      position: absolute;
      width: 100%; }
      .grid_item .container .content * {
        font-family: "Kepler-452b", monospace; }
      .grid_item .container .content h3 {
        display: block;
        hyphens: auto;
        line-height: 0px;
        margin: 32px 0 0 0;
        position: relative;
        width: calc(100% - 24px);
        word-wrap: break-word; }
      .grid_item .container .content .date {
        color: #5f5f5f;
        font-size: 8px;
        line-height: 8px;
        position: absolute;
        top: 16px; }
      .grid_item .container .content .grid_item_sidebar {
        height: 100%;
        margin: 0;
        transform: rotateZ(-90deg);
        position: absolute;
        width: 100%;
        top: 0;
        left: 0; }
        .grid_item .container .content .grid_item_sidebar p {
          bottom: 20px;
          font-size: 12px;
          height: auto;
          left: 16px;
          line-height: 0;
          position: absolute; }
          .grid_item .container .content .grid_item_sidebar p span:first-child {
            color: #5f5f5f; }
  .grid_item:hover .container {
    animation: flicker_on_quick .3s linear forwards;
    opacity: 1; }
    .grid_item:hover .container h3 {
      animation: expand_header_text 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s forwards; }
    .grid_item:hover .container .grid_item_sidebar p {
      animation: expand_sidebar_text 0.5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s forwards; }
  .grid_item:active .content {
    background-color: #00EFF1; }

#intro + .subcategory_grid > header.panel {
  margin-top: 4px; }

#sidebar {
  display: none;
  z-index: 4; }
  @media (min-width: 840px) {
    #sidebar {
      display: block;
      height: calc(100% - 36px);
      right: 32px;
      position: fixed;
      top: 16px;
      width: calc(64px * 2); } }

.rotated_contents {
  bottom: calc(64px + 16px);
  cursor: pointer;
  height: 64px;
  opacity: 1 !important;
  position: absolute;
  transform: rotateZ(-90deg);
  transform-origin: 32px 0px;
  width: calc(100vh - (64px * 3)); }
  .rotated_contents .content_block {
    display: none;
    float: left;
    height: calc(64px / 2);
    font-size: 16px;
    line-height: calc(64px / 2);
    margin: 0 16px;
    opacity: .4;
    padding: 0; }
    @media (min-height: 470px) {
      .rotated_contents .content_block {
        display: inline-block; } }
    .rotated_contents .content_block:focus, .rotated_contents .content_block:hover {
      opacity: 1; }
    @media (max-height: 619px) {
      .rotated_contents .content_block {
        clear: both; }
        .rotated_contents .content_block:last-child {
          display: none; } }

.sidebar_title.sml {
  display: inline; }
  @media (min-height: 680px) {
    .sidebar_title.sml {
      display: none; } }

.sidebar_title.med {
  display: none; }
  @media (min-height: 680px) and (max-height: 739px) {
    .sidebar_title.med {
      display: inline; } }

.sidebar_title.lrg {
  display: none; }
  @media (min-height: 740px) {
    .sidebar_title.lrg {
      display: inline; } }

.sidebar_desc {
  opacity: .6;
  display: inline; }
  .sidebar_desc.sml {
    display: none; }
  .sidebar_desc.med {
    display: none; }
  .sidebar_desc.lrg {
    display: inline; }

#qr_wrapper {
  display: none; }
  @media (min-height: 437px) {
    #qr_wrapper {
      bottom: calc(16px * 2);
      border: 1px solid #989898;
      box-sizing: content-box;
      cursor: pointer;
      display: block;
      height: 64px;
      left: calc(16px * 2);
      opacity: .4;
      position: absolute;
      width: 64px; }
      #qr_wrapper.active {
        border-color: #00EFF1;
        opacity: 0.6; }
      #qr_wrapper:focus, #qr_wrapper:hover {
        opacity: 1; }
      #qr_wrapper #qr_code {
        position: relative; } }

#music_info {
  flex-wrap: wrap; }
  @media (min-width: 1154px) {
    #music_info {
      flex-wrap: nowrap; } }

#tracklist {
  flex-grow: 0;
  flex-shrink: 0;
  width: calc(100% - 4px); }
  @media (min-width: 1154px) {
    #tracklist {
      width: 416px; } }
  #tracklist ol {
    margin-top: 16px;
    padding: 0 0 0 40px; }
    #tracklist ol li + * {
      padding-top: 8px; }
    #tracklist ol li a {
      color: #989898;
      font-family: "Ubuntu", sans-serif;
      font-style: italic; }

#music_details {
  width: 100%; }
  @media (min-width: 1154px) {
    #tracklist + #music_details {
      width: calc(100% - (416px + 4px)); } }

.has_album_data {
  display: flex;
  justify-content: flex-start; }
  .has_album_data .img_container {
    border: 1px solid transparent;
    height: calc(64px * 2);
    flex-shrink: 0;
    width: calc(64px * 2); }
  .has_album_data .related_album_info {
    flex-shrink: 1;
    margin-left: 32px;
    width: 100%; }

.music_player {
  margin-bottom: 2px;
  padding: 0; }

.now_playing {
  bottom: 4px;
  height: calc(416px / 2);
  left: 0;
  position: absolute;
  width: 100%; }

.track_art {
  display: none; }
  @media (min-width: 840px) {
    .track_art {
      background: #989898;
      background: -moz-linear-gradient(top, #989898 90%, #989898 90%, #676767 100%);
      background: -webkit-linear-gradient(top, #989898 90%, #989898 90%, #676767 100%);
      background: linear-gradient(to bottom, #989898 90%, #989898 90%, #676767 100%);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2) inset, 0 2px 2px 0 rgba(0, 0, 0, 0.14) inset, 0 1px 5px 0 rgba(0, 0, 0, 0.12) inset;
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      height: calc(416px / 2 + 4px);
      overflow: hidden;
      padding: 4px 4px 0 0;
      position: relative;
      width: calc((416px / 2) + 4px); } }
  .track_art .art_wrapper {
    height: calc(416px / 2);
    background: #ECECEC;
    width: calc(416px / 2); }
    .track_art .art_wrapper .img_container {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.track_playback {
  background: #989898;
  flex-direction: column;
  max-height: calc(416px / 2 + 4px);
  overflow: hidden; }
  .track_playback .panel {
    height: calc(50% - 2px) !important;
    margin: 0;
    padding: 0;
    position: relative; }
    .track_playback .panel h3 {
      padding: 0 0 0 32px; }
    .track_playback .panel .play_btn {
      left: 32px;
      position: absolute;
      top: -34px; }

.stream_link {
  margin: 32px 0 0 32px; }

.single_view .tab_page {
  width: calc(100% - 4px); }

.tab_group {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 4px); }
  @media (min-width: 1154px) {
    .tab_group {
      width: 100%; } }
  .tab_group input[type="radio"] {
    display: none; }

.tabs {
  flex-grow: 0;
  flex-shrink: 0;
  height: 84px;
  margin: 0; }
  @media (max-width: 839px) {
    .tabs {
      display: none; } }
  .tabs ul {
    display: flex;
    width: 100%; }
    .tabs ul li {
      flex-grow: 1;
      margin: 2px; }
      .tabs ul li .tab {
        background: #b1b1b1;
        color: #FFF;
        margin: 0; }

#tab_selector_1:checked ~ nav #tab_1,
#tab_selector_2:checked ~ nav #tab_2 {
  background: #F8F8F8;
  color: #000; }

.tab_pages {
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 2px;
  margin-top: 0;
  max-width: 100%; }
  .tab_pages .tab_page_header {
    display: block;
    margin: 0 0 2px 0; }
  .tabs + .tab_pages {
    margin-top: 1px; }
    .tabs + .tab_pages .tab_page_header {
      margin: 4px 0 2px 0; }
    @media (min-width: 840px) {
      .tabs + .tab_pages .tab_page_header {
        display: none; }
      .tabs + .tab_pages #page_2 {
        padding: 0 8px 0 0 !important; } }
  @media (min-width: 840px) {
    .tab_pages {
      flex-wrap: nowrap; } }
  .tab_pages .tab_page {
    height: auto;
    margin: 0;
    width: 100%;
    position: relative; }
    @media (min-width: 840px) {
      .tab_pages .tab_page {
        display: none;
        max-height: 416px;
        overflow: auto; } }

#tab_selector_1:checked ~ section #page_1,
#tab_selector_2:checked ~ section #page_2 {
  display: block; }

#narrative {
  flex-wrap: wrap;
  height: auto;
  margin-bottom: 2px; }
  #narrative .panel {
    padding: 0; }
    @media (max-width: 839px) {
      #narrative .panel {
        width: calc(100% - 4px); } }
    @media (min-width: 840px) {
      #narrative .panel:first-child {
        text-align: right; } }
    #narrative .panel .img_container {
      background: #989898;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2) inset, 0 2px 2px 0 rgba(0, 0, 0, 0.14) inset, 0 1px 5px 0 rgba(0, 0, 0, 0.12) inset;
      float: right;
      height: auto;
      margin: 0 0 0 32px;
      padding: 0 0 0 4px;
      width: 188px; }
      @media (max-width: 839px) {
        #narrative .panel .img_container {
          float: none !important;
          height: auto;
          margin: 0 !important;
          padding: 0 0 4px 0 !important;
          width: 100%; } }
      @media (min-width: 1154px) {
        #narrative .panel .img_container {
          width: calc(416px / 2); } }
      #narrative .panel .img_container video, #narrative .panel .img_container img {
        position: relative; }
      #narrative .panel .img_container[data-shape="wide"] {
        height: 188px;
        width: auto; }
        @media (min-width: 1154px) {
          #narrative .panel .img_container[data-shape="wide"] {
            height: calc(416px / 2); } }
        @media (max-width: 839px) {
          #narrative .panel .img_container[data-shape="wide"] {
            float: none !important;
            height: auto;
            margin: 0 !important;
            padding: 0 0 4px 0 !important;
            width: 100%; } }
      #narrative .panel .img_container[data-type="mp4"] {
        height: auto;
        width: 188px; }
        @media (max-width: 839px) {
          #narrative .panel .img_container[data-type="mp4"] {
            float: none !important;
            margin: 0 !important;
            padding: 0 0 4px 0 !important;
            width: 100%; } }
        @media (min-width: 1154px) {
          #narrative .panel .img_container[data-type="mp4"] {
            width: calc(416px *.75); } }
    #narrative .panel:nth-child(odd) .img_container {
      float: left;
      margin: 0 32px 0 0;
      padding: 0 4px 0 0; }
    #narrative .panel p, #narrative .panel h2 {
      padding: 32px 32px 0 32px;
      z-index: -1; }
      #narrative .panel p + #narrative .panel p, #narrative .panel h2 + #narrative .panel p, #narrative .panel p + #narrative .panel h2, #narrative .panel h2 + #narrative .panel h2 {
        padding: 0 32px 0 32px; }
      #narrative .panel p:first-child, #narrative .panel h2:first-child {
        padding: 32px !important; }
      @media (max-width: 839px) {
        #narrative .panel p, #narrative .panel h2 {
          display: block;
          float: none;
          padding: 32px !important; } }
    #narrative .panel:nth-child(odd) .img_element + p:nth-child(2) {
      padding: 32px 32px 0 32px !important; }
    #narrative .panel:nth-child(odd) p:last-child {
      padding: 0 32px 32px 32px; }
      .img_element + #narrative .panel:nth-child(odd) p:last-child {
        padding-top: 32px; }
    #narrative .panel:nth-child(even) p:last-child {
      padding: 0 32px 32px 32px; }
      .img_element + #narrative .panel:nth-child(even) p:last-child {
        padding-top: 32px; }

/* {
		height: auto;
		width: 100%;
		@media(min-width: 840px) {
			height: 100%;
			width: auto;
		}
		img {
			height: auto!important;
			width: 100%!important;
			@media(min-width: 840px) {
				height: 100%!important;
				width: auto!important;
			}
		}
	}*/
.search_intro .search_box_container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 32px; }
  .search_intro .search_box_container .btn {
    flex-grow: 0;
    margin: 0 0 0 4px; }

#search_results {
  flex-wrap: wrap;
  justify-content: flex-start; }
  #search_results header {
    width: calc(100% - 4px); }
  #search_results nav {
    width: 100%; }

.profile_photo {
  flex-grow: 0;
  flex-shrink: 0;
  float: left;
  margin-right: 16px; }
  .profile_photo .img_container {
    background: #F8F8F8;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    height: 64px;
    overflow: hidden;
    width: 64px; }
  .profile_photo.lrg {
    margin-bottom: 8px;
    margin-left: 16px;
    margin-right: 0;
    margin-top: 0; }
    @media (min-width: 840px) {
      .profile_photo.lrg {
        margin-bottom: 0;
        margin-top: 6px; } }
    .profile_photo.lrg .img_container {
      height: 64px;
      width: 64px; }
      @media (min-width: 840px) {
        .profile_photo.lrg .img_container {
          height: 96px;
          width: 96px; } }

#intro + .category_preview > section > header {
  margin-top: 4px; }

.full_size_img .img_container, .full_size_img img, .full_size_img video {
  cursor: zoom-in;
  display: inline-block !important;
  position: relative; }

::-webkit-scrollbar {
  cursor: pointer;
  height: 4px;
  width: 4px; }

::-webkit-scrollbar-thumb {
  background: #F8F8F8; }
  ::-webkit-scrollbar-thumb:hover {
    background: #00EFF1; }
  ::-webkit-scrollbar-thumb:active {
    background: #00EFF1; }

.panel::-webkit-scrollbar-thumb {
  background: #666; }
  .panel::-webkit-scrollbar-thumb:hover {
    background: #00EFF1; }
  .panel::-webkit-scrollbar-thumb:active {
    background: #00EFF1; }

::selection {
  background: #00EFF1;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #00EFF1;
  /* Gecko Browsers */ }

.clear_left {
  clear: left; }
