@import "../vars";

#footer {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 18px auto 4px auto!important;
	@media(min-width:840px) {
		margin-bottom: 114px!important;
	}
	z-index: 2;
	.panel {
		width: calc(50% - 4px);
		&#social_panel {
			padding-bottom: 0;
		}
	}
}

#speakers {
	background-color: $baseColor;
	background-image: url("https://cdn.sammurphey.net/ui/speaker_texture.jpg");
	background-position: center;
	height: calc(#{$blockSize} * 4 - 68px);
	margin: 16px 34px 34px 34px;
	width: calc(100% - 68px);
}
