.grid_items {
		display: flex;
		flex-wrap: wrap;
		position: relative;
}

.grid_item {
	background-color: $plasticColor;
	background-size: cover;
	background-position: center center;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	cursor: pointer;
	height: auto;
	flex-shrink: 0;
	padding-bottom: 33%;
	justify-content: center;
	margin: 2px;
	overflow: hidden;
	position: relative;
	padding-bottom: calc(100% - 4px);
	width: calc(100% - 4px);
	@media(min-width: 340px) {
		padding-bottom: calc(50% - 4px);
		width: calc(50% - 4px);
	}
	@media(min-width: 600px) {
		padding-bottom: calc(33.333333333333% - 4px);
		width: calc(33.333333333333% - 4px);
	}
	@media(min-width: 840px) {
		padding-bottom: calc(25% - 4px);
		width: calc(25% - 4px);
	}
	@media(min-width: 1068px) {
		padding-bottom: calc(20% - 4px);
		width: calc(20% - 4px);
	}
	@media(min-width: 1580px) {
		padding-bottom: calc(16.666666666666% - 4px);
		width: calc(16.666666666666% - 4px);
	}
	a {
		display: block;
		height: 100%;
		justify-content: center;
		overflow-x: hidden;
		overflow-y: auto;
		position: absolute;
		width: 100%;
	}
	.container {
		min-height: 100%;
		left: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		transition-duration: .1s;
		transition-property: all;
		transition-timing-function: ease-out;
		width: 100%;
		max-width: 100%;
		.content {
			background-color: $highlightColor;
			color: #000!important;
			height: 100%;
			padding: $paddingXL;
			position: absolute;
			width: 100%;
			* {
				font-family: "kepler", monospace;
			}
			h3 {
				display: block;
				hyphens: auto;
				line-height: 0px;
				margin: 32px 0 0 0;
				position: relative;
				width: calc(100% - 24px);
				word-wrap: break-word;
			}
			.date {
				color: $darkGrey;
				font-size: 8px;
				line-height: 8px;
				position: absolute;
				top: 16px;
			}

			.grid_item_sidebar {
				height: 100%;
				margin: 0;
				transform: rotateZ(-90deg);
				position: absolute;
				width: 100%;
				top: 0;
				left: 0;
				p {
					bottom: 20px;
					font-size: 12px;
					height: auto;
				    left: 16px;
					line-height: 0;
					position: absolute;
					span:first-child {
						color: $darkGrey;
					}
				}
			}
		}
	}
	&:hover {
		.container {
			animation: flicker_on_quick .3s linear forwards;
			opacity: 1;
			h3 {
				animation: expand_header_text .6s cubic-bezier(0.4, 0.0, 0.2, 1) 0s forwards;
			}
			.grid_item_sidebar {
				p {
					animation: expand_sidebar_text .5s cubic-bezier(0.4, 0.0, 0.2, 1) .2s forwards;
				}
			}
		}
	}
	&:active {
		.content {
			background-color: $tealColor;
		}
	}
}
