section, .grid_items {
	position: relative;
	&.grid_items {
		display: flex;
		flex-wrap: wrap;
		.grid_item {
			background-color: $plasticColor;
			background-size: cover;
			background-position: center center;
			//border-radius: 1px;
			box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
			//border-right: 3px solid #AAA;
			//border-bottom: 4px solid #525252;
			//border-left: 3px solid #CCC;
			cursor: pointer;
			flex-shrink: 0;
			height: calc(#{$blockSize} * 2 - 4px);
			justify-content: center;
			margin: 1px 2px 3px 2px;
			overflow: hidden;
			position: relative;
			width: calc(#{$blockSize} * 2 - 4px);
			@media(min-width: 812px) {
				height: calc(#{$blockSize} * 4 - 4px);
				width: calc(#{$blockSize} * 4 - 4px);
			}
			.container {
				height: 100%;
				left: 0;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				top: 0;
				transition-duration: .1s;
				transition-property: all;
				transition-timing-function: ease-out;
				width: 100%;
				.content {
					background-color: $highlightColor;
					color: #000!important;
					height: 100%;
					overflow-x: hidden;
					overflow-y: auto;
					padding: $paddingMed;
					position: absolute;
					width: 100%;
				}
			}
			&:hover {
				.container {
					//	animation: flicker_on_quick .3s linear forwards;
					opacity: 1;
				}
			}
			&:active {
				.content {
					background-color: $tealColor;
				}
			}
		}
	}
}
