@import "../vars";

#intro {
	align-content: baseline;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: auto;
	margin-bottom: 2px;
	padding-top: 8px;
	position: relative;
	z-index: 4;
	@media(min-width: 840px) {
		min-height: $panelSize;
		padding-top: 16px;
	}
	.project_view & {
		@media(max-width: 839px) {
			.corner, .corner-spacer {
				display: none;
			}
		}
	}
	h1 {
		width: 100%;
		@media(max-width: 839px) {
			margin-top: 8px;
		}
		&.with_profile {
			float: left;
			width: calc(100% - 96px);
			@media(min-width: 840px) {
				width: calc(100% - 128px);
			}
		}
	}
	> .panel {
		flex-grow: 0;
		flex-shrink: 1;
		padding-top: 16px;
		position: relative;
		@media(min-width: 840px) {
			min-height: 100%;
			width: 100%;
		}
		&.hero_img {
			padding: 0;
			&, * {
				height: calc(100vw - (#{$pageMarginSml} * 2));
				width: 100%;
				@media(min-width: 840px) {
					height: $panelSize;
					width: $panelSize;
				}
			}
		}
		&:not(.hero_img) {
			&:hover #connected_panel,
			&:focus #connected_panel {
				background: $plasticColor;
			}
		}
		.has_data {
			.info_view {
				margin-right: 16px;
				.info_sidebar {
					max-width: $panelSize;
					transform: rotateZ(-90deg);
					position: absolute;
					right: -59px;
					bottom: 80px
				}
			}
		}
	}
}
