@import "../vars";

.intro {
	display: flex;
	min-height: $panelSize;
	z-index: 4;

	> .panel {
		flex-grow: 0;
		flex-shrink: 1;
		min-height: $panelSize;
		padding-top: 16px;
		position: relative;
		width: 100%;
		&.hero_img {
			padding: 0;
			&, * {
				height: $panelSize;
				width: $panelSize;
			}
		}
		&:not(.hero_img) {
			&:hover #connected_panel,
			&:focus #connected_panel {
				background: $plasticColor;
			}
		}
		.has_data {
			.info_view {
				.info_sidebar {
					max-width: $panelSize;
					transform: rotateZ(-90deg);
					position: absolute;
					right: -59px;
					bottom: 80px
				}
			}
		}
	}
}
