@import "../vars";

#main {
	background: $baseColor;
	border-top: 4px solid #525252;
	border-right: 4px solid #CCC;
	border-left: 4px solid #AAA;
	flex-direction: column;
	height: calc(100% - (#{$paddingSml} * 2 + 28px));
	left: $paddingSml;
	margin: 10px;
	overflow-y: scroll;
	position: absolute;
	top: $paddingSml;
	width: calc(100% - (#{$paddingSml} * 2 + 28px));
	z-index: 1;
	article {
		flex-direction: column;
		margin-bottom: 18px!important;
		z-index: 3;
	}
	article, footer {
		display: flex;
		flex-wrap: wrap;
		margin: calc(#{$blockSize} * 2) auto;
		//opacity: 0;
		position: relative;
		width: calc(#{$blockSize} * 2);
		will-change: transform;
		z-index: 2;
		@media(min-width: 302px) {
			width: calc(#{$blockSize} * 4);
		}
		@media(min-width: 444px) {
			width: calc(#{$blockSize} * 6);
		}
		@media(min-width: 572px) {
			width: calc(#{$blockSize} * 8);
		}
		@media(min-width: 700px) {
			width: calc(#{$blockSize} * 10);
		}
		// sidebar active
		@media(min-width: 812px) {
			margin: calc(#{$blockSize} * 1.2) auto;
			width: calc(#{$blockSize} * 8);
		}
		@media(min-width: 1068px) {
			width: calc(#{$blockSize} * 12);
		}
		@media(min-width: 1324px) {
			width: calc(#{$blockSize} * 16);
		}
		@media(min-width: 1580px) {
			width: calc(#{$blockSize} * 20);
		}
		@media(min-width: 1836px) {
			width: calc(#{$blockSize} * 24);
		}
		@media(min-width: 2092px) {
			width: calc(#{$blockSize} * 28);
		}
		@media(min-width: 2248px) {
			width: calc(#{$blockSize} * 32);
		}
	}
}
