@import "../vars";

nav {
	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
	}
}


#menu {
	display: none;
	@media(min-width: 840px) AND (min-height: 438px) {
		bottom: auto;
		display: block;
		left: 23px;
		pointer-events: none;
		position: absolute;
		top: 199px;
		width: calc(#{$blockSize} * 2);
		z-index: 4;
		ul {
			flex-direction: column;
			pointer-events: all;
			li {
				//color: $darkPlastic;
				text-decoration: none;
				& + * {
					margin-top: $paddingLrg;
				}
				a.btn {

					&:focus,
					&:hover {
						color: $highlightColor!important;
					}
					&:active {
						color: $tealColor!important;
					}
				}
			}
		}
		@media(max-height: 572px) {
			bottom: 22px;
			top: auto;
			ul li a.btn {
				height: 48px;
				padding: 8px 16px;
			}
		}
	}
}
