@import "../vars";

#menu {
	display: none;
	@media(min-width: 840px) {
		display: block;
		height: calc(100vh - 36px);
		left: 24px;
		padding-top: calc(#{$blockSize} * 2);
		pointer-events: none;
		position: absolute;
		top: 32px;
		width: calc(#{$blockSize} * 2);
		z-index: 4;
		ul {
			display: flex;
			flex-direction: column;
			list-style: none;
			margin: 0;
			padding: 0;
			pointer-events: all;
			li {
				//color: $darkPlastic;
				margin-bottom: $paddingLrg;
				text-decoration: none;
				a {
					&:focus,
					&:hover {
						color: $highlightColor!important;
					}
					&:active {
						color: $tealColor!important;
					}
				}
			}
		}
	}
}
