@import "../vars";

#music_info {
	flex-wrap: wrap;
	@media(min-width: 1154px) {
		flex-wrap: nowrap;
	}
}

#tracklist {
	flex-grow: 0;
	flex-shrink: 0;
    max-height: 501px;
    overflow: auto;
	width: calc(100% - 4px);
	@media(min-width: 1154px) {
		width: $panelSize;
	}
	ol {
		margin-top: 16px;
		padding: 0 0 0 40px;
		li {
			& + * {
			//	padding-top: 8px;
			}
			a {
				color: $baseColor;
				font-family: "Ubuntu", sans-serif;
				font-style: italic;
			}
		}
	}
}

#music_details {
	width: 100%;
	@media(min-width: 1154px) {
		#tracklist + & {
			width: calc(100% - (#{$panelSize} + 4px));
		}
	}

}
.has_album_data {
	display: flex;
	justify-content: flex-start;
	.img_container {
		border: 1px solid transparent;
		height: calc(#{$blockSize} * 2);
		flex-shrink: 0;
		width: calc(#{$blockSize} * 2);
	}
	.related_album_info {
		flex-shrink: 1;
		margin-left: 32px;
		width: 100%;
	}
}



.single_view {
}

.song_view {

}
