@import "../vars";

#tracklist {
	flex-grow: 0;
	flex-shrink: 0;
	width: $panelSize;
	ol {
		margin-top: 16px;
		padding: 0 0 0 40px;
		li {
			& + * {
				padding-top: 8px;
			}
			a {
				color: $baseColor;
				font-family: "Ubuntu", sans-serif;
				font-style: italic;
			}
		}
	}
}

.tab_group {
	display: flex;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 1;
	width: 100%;
	&#music_details {
		width: calc(100% - (#{$panelSize} + 4px));
	}
}
.has_album_data {
	display: flex;
	justify-content: flex-start;
	.img_container {
		border: 1px solid transparent;
		height: calc(#{$blockSize} * 2);
		flex-shrink: 0;
		width: calc(#{$blockSize} * 2);
	}
	.related_album_info {
		flex-shrink: 1;
		margin-left: 32px;
		width: 100%;
	}
}



.single_view {
}

.song_view {

}
