@import "../vars";

#narrative {
	flex-wrap: wrap;
	height: auto;
	margin-bottom: 2px;
	@media(max-width: 839px) {
		&:nth-child(odd){
		//	flex-direction: column-reverse;
		}
	}
	.panel {
		padding: 0;
		@media(max-width: 839px) {
			width: calc(100% - 4px);
		}
		@media(min-width: 840px) {
			&:first-child {
				text-align: right;
			}
		}
		.img_container {
			background: $baseColor;
			box-shadow: 0 3px 1px -2px rgba(0,0,0,.2) inset, 0 2px 2px 0 rgba(0,0,0,.14) inset, 0 1px 5px 0 rgba(0,0,0,.12) inset;
			float: right;
			height: auto;
			//left: 32px;
			margin: 0 0 0 32px;
			padding: 0 0 0 4px;
			//top: -32px;
			width: 188px;
			@media(max-width: 839px) {
				float: none!important;
				height: auto;
				margin: 0!important;
				padding: 0 0 4px 0!important;
				width: 100%;
			}
			@media(min-width: 1154px) {
				width: calc(#{$panelSize} / 2);
			}
			video, img {
				position: relative;
			}
			&[data-shape="wide"] {
				height: 188px;
				@media(min-width: 1154px) {
					height: calc(#{$panelSize} / 2);
				}
				width: auto;
				@media(max-width: 839px) {
					float: none!important;
					height: auto;
					margin: 0!important;
					padding: 0 0 4px 0!important;
					width: 100%;
				}
			}
			&[data-type="mp4"] {
				height: auto;
				width: 188px;
				@media(max-width: 839px) {
					float: none!important;
					margin: 0!important;
					padding: 0 0 4px 0!important;
					width: 100%;
				}
				@media(min-width: 1154px) {
					width: calc(#{$panelSize} *.75);
				}
				//&[data-shape="wide"] {
				//	height: auto;
				//	width: 188px;
				//	@media(min-width: 1154px) {
				//		width: calc(#{$panelSize} / 2);
				//	}
				//}
			}
		}
		&:nth-child(odd) {
			.img_container {
				float: left;
				//left: -32px;
				margin: 0 32px 0 0;
				padding: 0 4px 0 0;
			}
		}

		p,h2 {
			padding: 32px 32px 0 32px;
			z-index: -1;
			& + & {
				padding: 0 32px 0 32px;
			}
			&:first-child {
				padding: 32px!important;
			}
			@media(max-width: 839px) {
				display: block;
				float: none;
				padding: 32px!important;
			}
		}
		&:nth-child(odd) {
			.img_element + p:nth-child(2) {
				padding: 32px 32px 0 32px!important;
			}
			p:last-child {
				padding: 0 32px 32px 32px;
				.img_element + & {
					padding-top: 32px;
				}
			}

		}
		&:nth-child(even) {
			p:last-child {
				padding: 0 32px 32px 32px;
				.img_element + & {
					padding-top: 32px;
				}
			}
		}
	}

}
	/* {
		height: auto;
		width: 100%;
		@media(min-width: 840px) {
			height: 100%;
			width: auto;
		}
		img {
			height: auto!important;
			width: 100%!important;
			@media(min-width: 840px) {
				height: 100%!important;
				width: auto!important;
			}
		}
	}*/
