@import "../vars";

.narrative_view {
	.story_mode {
		.panel_wrapper {
			height: auto;
			margin-bottom: 4px;
			width: 100%;
			@media(min-width: 840px) {
				height: $panelSize;
			}
			.panel {
				height: 100%;
				&:first-child {
					text-align: right;
				}
			}
		}
		.img_elem {
			height: auto;
			padding: 0;
			flex-grow:0;
			width: 100%;
			@media(min-width: 840px) {
				height: 100%;
				width: auto;
				.img_container {
					height: 100%;
					width: auto;
					img {
						height: 100%!important;
						width: auto!important;
					}
				}
			}
		}
		.text_elem {
			overflow: auto;
			width:100%;
		}
	}
}
