@import "../vars";

.panel_wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	@media(min-width: 840px) {
		flex-wrap: nowrap;
	}
	.panel {
		flex-grow: 0;
		flex-shrink: 1;
		height: auto!important;
		width: 100%;
		&.img_elem {
			width: 100%;
			&.single_img {
				padding: 0!important;
				img {
					cursor: zoom-in;
					height: auto!important;
					width: auto!important;
					max-width: 100%!important;
					&:active {
						cursor: zoom-out;
						width: 100%!important;
					}
				}
			}
		}
	}
}




.panel_container {
	display: flex;
	flex-wrap: wrap;
	min-height: 360px;
	position: relative;
	&::before, &::after {
		background: $lightGrey;
		box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3)inset, 0 4px 2px 0 rgba(0,0,0,.16) inset, 0 8px 2px 0 rgba(255,255,255,.08) inset, 0 1px 5px 0 rgba(0,0,0,.12), 0 -1px 0 0 rgba(255, 255, 255, 0.3)inset, 0 -4px 10px 0 rgba(0,0,0,.2) inset, 0 -8px 2px 0 rgba(255,255,255,.02) inset;
		color: $darkGrey;
		content: "o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o o ";
		display: flex;
		font-size: 10px;
		height: 16px;
		left: 8px;
		line-height: 16px;
		overflow: hidden;
		padding: 0 4px;
		position: absolute;
		text-align: center;
		width: calc(100% - 16px);
		z-index: -1;
	}
	&::before {
		top: 32px;
	}
	&::after {
		bottom: 32px;
	}
}

.panel {
	background: $darkPlastic;
	// border-right: 3px solid #AAA;
	//	border-bottom: 4px solid #525252;
	// border-left: 3px solid #CCC;
	//border-radius: 1px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
	display: block;
	margin: 2px;
	padding: $paddingXL;
	transition: background .2s linear;
	@media(min-width: 600px) {
		padding: calc(#{$paddingXL} * 2);
	}
	&:hover {
		background: $plasticColor;
	}
	& + h2 {
		margin-bottom: 19px;
	}
	&, * {
		-webkit-tap-highlight-color: $tealColor;
		-webkit-touch-callout: text;
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}
	* {
		//outline: 1px dotted #666;
		&.corner {
			background: $baseColor;
			bottom: auto;
			height: 90px;
			left: -45px;
			position: absolute;
			right: auto;
			top: -45px;
			transform: rotateZ(45deg);
			width: 90px;
			&::after {
				border-left: 0;
				border-right: 1px solid #898989;
				bottom: auto;
				content: "";
				display: block;
				height: 100%;
				left: auto;
				position: absolute;
				right: 0;
				top: auto;
				width: 0%;
			}
			&.bottom-right {
				bottom: -45px;
				left: auto;
				right: -45px;
				top: auto;
				transform: rotateZ(225deg);
				&::after {
					border-left: 1px solid #7b7b7b;
					border-right: 1px solid #686868;
					bottom: auto;
					left: 88px;
					right: auto;
					top: 0px;
				}
			}
		}
	}
}

.inline_panel {
	display: flex;
	flex-direction: column;
	padding: 0;
	width: 100%;
	@media(min-width: 1200px) {
		width: 50%;
	}
	@media(min-width: 1580px) {
		width: 33.3333333%;
	}
	> * {
		padding: $paddingXL calc(#{$blockSize} / 2);
	}
	.panel_header {
		align-items: center;
		display: flex;
		min-height: 96px;
		pointer-events: none;
		position: relative;
		@media(max-width: 1580px) {
			h2 {
				font-size: 10px;
			}
		}
		.profile_bg {
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			.bg_container {
				display: flex;
				height: 100%;
				position: relative;
				width: 100%;
				.img_container {
					background: $textColor;
					display: flex;
					overflow: hidden;
					position: relative;
					width: 100%;
					img {
						opacity: 0.5;
					}
				}
			}
		}
		.profile_photo {
			flex-grow: 0;
			flex-shrink: 0;
			margin-right: $gridSize;
			.img_container {
				background: $plasticColor;
				border-radius: 50%;
				box-shadow: $chip_shadow;
				height: $blockSize;
				overflow: hidden;
				width: $blockSize;
			}
		}
		h3 {
			color: $highlightColor;
			text-shadow: 1px 1px 2px rgba(0,0,0,0.4), 0px 0px 15px rgba(0,0,0,0.2);
		}
	}
	.panel_article {
		min-height: 192px;
		height: calc(100% - 104px);
	}
}
#social_panel {
	width: 100%!important;
	margin: 0;
}
