.profile_photo {
	flex-grow: 0;
	flex-shrink: 0;
	float: left;
	margin-right: $gridSize;
	.img_container {
		background: $plasticColor;
		border-radius: 50%;
		box-shadow: $chip_shadow;
		height: $blockSize;
		overflow: hidden;
		width: $blockSize;
	}
	&.lrg {
		margin-left: $gridSize;
		margin-bottom: 8px;
		margin-top: 0;
		@media(min-width: 840px) {
			margin-bottom: 0;
			margin-top: 6px;
		}

		.img_container {
			height: 64px;
			width: 64px;
			@media(min-width: 840px) {
				height: 96px;
				width: 96px;
			}
		}
	}
}
