.search_intro {
	.search_box_container {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 32px;
		.btn {
			flex-grow: 0;
			margin: 0 0 0 4px;
		}
	}
}

#search_results {
	flex-direction: column;
	header {
		width: calc(100% - 4px);
	}
}
