.search_intro {
	.search_box_container {
		align-items: center;
		display: flex;
		justify-content: center;
		padding: 32px;
		.btn {
			flex-grow: 0;
			margin: 0 0 0 4px;
		}
	}
}

#search_results {
	flex-wrap: wrap;
	* {
		flex-grow: 1;
		flex-shrink: 0;
	}
	header {
		width: calc(100% - 4px);
	}
	nav {
		width: 100%;
	}
}
