@import "../vars";

#sidebar {
	display: none;
	z-index: 4;
	@media(min-width: 840px) {
		display: block;
		height: calc(100% - 36px);
		right: 32px;
		position: fixed;
		top: 16px;
		width: calc(#{$blockSize} * 2);
	}
}


.rotated_contents {
	bottom: calc(#{$blockSize} + #{$gridSize});
	cursor: pointer;
	height: $blockSize;
	opacity: 1!important;
	position: absolute;
	transform: rotateZ(-90deg);
	transform-origin: 32px 0px;
	width: calc(100vh - (#{$blockSize} * 3));
	.content_block {
		display: none;
		float: left;
		height: calc(#{$blockSize} / 2);
		font-size: $gridSize;
		line-height: calc(#{$blockSize} / 2);
		margin: 0 $gridSize;
		opacity: .4;
		padding: 0;
		@media(min-height: 470px) {
			display: inline-block;
		}
		&:focus,
		&:hover {
			opacity: 1;
		}
		@media(max-height: 619px) {
			clear: both;
			&:last-child {
				display: none;
			}
		}
	}
}

.sidebar_title {
	&.sml {
		display: inline;
		@media(min-height: 680px) {
			display: none;
		}
	}
	&.med {
		display: none;
		@media(min-height: 680px) and (max-height: 739px) {
			display: inline;
		}
	}
	&.lrg {
		display: none;
		@media(min-height: 740px) {
			display: inline;
		}
	}
}
.sidebar_desc {
	opacity: .6;
	&.sml {
		display: none;
	}
	&.med {
		display: none;
	}
	&.lrg {
		display: inline;
	}
}

#qr_wrapper {
	display: none;
	@media(min-height: 437px) {
		bottom: calc(#{$gridSize} * 2);
		border: 1px solid $baseColor;
		box-sizing: content-box;
		cursor: pointer;
		display: block;
		height: $blockSize;
		left: calc(#{$gridSize} * 2);
		opacity: .4;
		position: absolute;
		width: $blockSize;
		&.active {
			border-color: $tealColor;
			opacity: 0.6;
		}
		&:focus,
		&:hover {
			opacity: 1;
		}
		#qr_code {
			position: relative;
		}
	}
}
