.tab_group {
	display: flex;
	flex-direction: column;
	position: relative;
	width: calc(100% - 4px);
	@media(min-width: 1154px) {
		width: 100%;
	}
	input[type="radio"] {
		display: none;
	}
}

.tabs {
	flex-grow: 0;
	flex-shrink: 0;
	height: 84px;
	margin: 0;
	@media(max-width: 839px) {
		display: none;
	}
	ul {
		display: flex;
		width: 100%;
		li {
			flex-grow: 1;
			margin: 2px;
			.tab {
				background: $lightGrey;
				color: $highlightColor;
				margin: 0;
			}
		}
	}
}

#tab_selector_1:checked ~ nav #tab_1,
#tab_selector_2:checked ~ nav #tab_2, {
	background: $plasticColor;
	color: $black;
}

.tab_pages {
	flex-grow: 1;
	flex-wrap: wrap;
	padding: 2px;
	max-width: 100%;
	@media(min-width: 840px) {
		flex-wrap: nowrap;
	}
	.tab_page {
		height: auto;
		margin: 0;
		width: 100%;
		position: relative;
		@media(min-width: 840px) {
			display: none;
			//flex-grow: 0;
			//flex-shrink: 1;
			//height: 0;
			max-height: $panelSize;
			overflow: auto;
			//padding: 0;
			//width: 0;
			.tab_page_header {
				display: none;
			}
		}
		&#page_2 {
			padding: 0 8px 0 0!important;
		}
		.tab_page_header {
			margin: 4px 0 2px 0;
		}
	}
}
#tab_selector_1:checked ~ section #page_1,
#tab_selector_2:checked ~ section #page_2, {
	display: block;
}
