@import "../vars";

a {
	color: inherit;
	cursor: pointer;
	position: relative;
	text-decoration: inherit;
	&[rel="noopener noreferrer"] {
		cursor: alias;
	}
	&:focus,
	&:hover {
		color: $tealColor!important;
	}
	p > & {
		padding: 0 10px!important;
		&::before, &::after {
			display: block;
			position: absolute;
			top: -8px;
			transform: translateX(0);
			transition: transform .2s linear;
		}
		&::before {
			content: "[";
			left: 0;
		}
		&::after {
			content: "]";
			right: 0;
		}
		&:focus,
		&:hover {
			&::before {
				transform: translateX(-8px);
			}
			&::after {
				transform: translateX(8px);
			}
		}
	}
}
p {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 17px;
	font-weight: lighter;
	line-height: calc(#{$gridSize} * 2);
	margin: 0;
	position: relative;
	word-break: break-word;
	.panel & {
		color: $textColor;
		&.subtitle {
			color: $black;
			a,
			span {
				color: $textColor;
			}
		}
	}
	& + * {
		margin-top: $gridSize;
	}
}
h1, h2, h3, h4, h5, h6 {
	display: block;
	margin: 0 0 8px 0;
	word-break: break-word;
	&:last-child {
		margin-bottom: 0px;
	}
}
h1 {
	font-size: 32px;
    font-weight: 100;
	min-height: 32px;
    line-height: 32px;
	margin-top: 0;
	@media(min-width: 600px) {
		font-size: 48px;
		margin-top: 12px;
		min-height: 48px;
	    line-height: 48px;
		.corner-spacer {
			display: none;
		}
	}
}
h2 {
	font-size: 22px;
	font-weight: 100;
	line-height: calc(#{$gridSize} * 2);
	min-height: calc(#{$gridSize} * 2);
	@media(min-width: 600px) {
		font-size: 32px;
	}
}
h3, h4, h5, h6 {
	font-size: 17px;
	line-height: 16px;
	min-height: 16px
}
ul, ol {
	margin: 8px 0 0 0;
}
