@font-face {
	font-family: "kepler";
	src: url("/fonts/kepler.eot"), url("fonts/kepler.ttf") format("truetype"), url("fonts/kepler.woff2") format("woff2"), url("fonts/kepler.woff") format("woff"), url("fonts/kepler.svg") format("svg");
	font-weight: normal;
	font-style: normal
}
html {
	height: 100%;
	width: 100%
}
body {
	background: #F9F9F9;
	box-sizing: border-box;
	cursor: default;
	font: caption;
	margin: 0;
	height: 100%;
	overflow: hidden;
	padding: 0;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	z-index: 1
}
* {
	box-sizing: inherit;
	cursor: inherit;
	z-index: inherit
}
.container {
	height: 100%;
	position: relative;
	width: 100%
}
#header{
	background: #F9F9F9;
	height: 64px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2PUBLIC_URL
}
.header_btn {
	display: block;
	height: 64px;
	position: absolute;
	top: 0;
	width: 64px;
	z-index: 4
}
#logo_btn {
	left: 0
}
#search_btn {
	right: 0;
}
#logo_icon {
	height: 32px;
	margin: 16px;
	position: relative;
	width: 32px
}
#search_icon {
	height: 16px;
	margin: 32px;
	position: relative;
	width: 16px
}
#main_nav {
	visibility: hidden;
}
#main, #footer {
	background: #EEE;
	border-radius: 6px;
	box-shadow: inset 0px 2px 6px -1px rgba(0,0,0,.5);
	display: block;
	left: 5px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: calc(100% - 10px);
	z-index: 3;
}
#main {
	height: calc(100% - 145px);
	top: 61px;
}
#footer {
	bottom: 5px;
	height: 71px;
}
#footer_content {
	display: flex;
	flex-direction: row
}
@media(min-width: 414px) {
	#main, #footer {
		left: 13px;
		width: calc(100% - 26px)
	}
	#main {
		height: calc(100% - 161px);
		top: 61px;
	}
	#footer {
		bottom: 13px;
		height: 71px;
	}
}
@media(min-width: 768px) {
	#header {
		height: 80px
	}
	.header_btn {
		height: 80px;
		width: 80px
	}
	#logo_btn {
		margin: 24px
	}
	#main {
		height: calc(100% - 193px);
		top: 77px;
	}
	#footer {
		bottom: 16px;
		height: 90px;
	}
}
@media(min-width: 1024px) {
	#logo_btn {
		height: 48px;
		margin: 16px;
		width: 48px
	}
	#main, #footer {
		border-radius: 12px;
		left: 68px;
		width: calc(100% - 136px);
	}
	#main {
		height: calc(100% - 190px);
		top: 68px;
	}
	#footer {
		bottom: 16px;
		height: 90px;
	}
}
