@font-face {
	font-family: "kepler";
	src: url("/fonts/kepler.eot"), url("fonts/kepler.ttf") format("truetype"), url("fonts/kepler.woff2") format("woff2"), url("fonts/kepler.woff") format("woff"), url("fonts/kepler.svg") format("svg");
	font-weight: normal;
	font-style: normal
}
html, body {
	height: 100%;
	overflow: hidden;
	width: 100%
}
body {
	box-sizing: border-box;
	cursor: default;
	font-family: "kepler", monospace;
	height: 100%;
	margin: 0;
	padding: 10px;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 100%;
	z-index: 1
}
@media(min-width: 840px) {
	body {
		padding: 15px;
	}
}
*,
*::before,
*::after {
	box-sizing: inherit;
	cursor: inherit;
	z-index: inherit
}
